# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code settings
.vscode

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.coverage

# Environmental variables
*.env

# Model parameter testing files
pandemic/create_config.py
pandemic/config.json
pandemic/model_runs.py
pandemic/create_header_file.py
notebooks/create_env_file.ipynb
pandemic/model_runs_grid_search.py
pandemic/create_config_params.py
notebooks/.ipynb_checkpoints/0_create_env_file-checkpoint.ipynb
notebooks/.ipynb_checkpoints/1_data_acquisition_format_wTWN-checkpoint.ipynb
notebooks/.ipynb_checkpoints/1_data_acquisition_format-checkpoint.ipynb
notebooks/.ipynb_checkpoints/2_create_model_config-checkpoint.ipynb
notebooks/.ipynb_checkpoints/3_run_model-checkpoint.ipynb
notebooks/.ipynb_checkpoints/4_map_results-checkpoint.ipynb
notebooks/.ipynb_checkpoints/compare_all_simulations-checkpoint.ipynb
notebooks/.ipynb_checkpoints/map_multiple_simulations-checkpoint.ipynb
notebooks/.ipynb_checkpoints/map_results-checkpoint.ipynb
