# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code settings
.vscode

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.coverage

# Environmental variables
*.env

# Model parameter testing and visualization files
pandemic/create_config.py
pandemic/config.json
pandemic/model_runs.py
pandemic/create_header_file.py
notebooks/create_env_file.ipynb
pandemic/model_runs_grid_search.py
pandemic/create_config_params.py
notebooks/.ipynb_checkpoints/
notebooks/summary_stats.ipynb
pandemic/model_summary_statistics.py
notebooks/dev_notebooks/
pandemic/model_runs_param_list.py
